<div class="container component" ng-controller='BalancesController as vm' ng-init="vm.init()">
	<center>
		<h2>Subscriber {{vm.entity.sid}} - Balance</h2>
	</center>
	<form class='form-inline' ng-submit='vm.saveBalance()'>
		<div ng-if='!vm.advancedMode'>
			<div class="row" ng-if="vm.action !== 'new'">
				<div class="col-md-2">
					{{vm.utils.getDisplayValue("aid", "balances")}}
				</div>
				<div class="col-md-6">
					<input ng-model="vm.entity.aid" ng-disabled='vm.action !== "new" && vm.utils.disabled("aid", "balances", vm.action)' type='number' class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					{{vm.utils.getDisplayValue("sid", "balances")}}
				</div>
				<div class="col-md-6">
					<input ng-model="vm.entity.sid" ng-disabled='vm.action !== "new" && vm.utils.disabled("aid", "balances", vm.action)' type='number' class="form-control" />
				</div>
			</div>
			<div class="row" ng-if="vm.action !== 'new'">
				<div class="col-md-2">
					{{vm.utils.getDisplayValue("pp_includes_external_id", "balances")}}
				</div>
				<div class="col-md-6">
					<input ng-model="vm.entity.pp_includes_external_id" ng-disabled='vm.action !== "new" && vm.utils.disabled("pp_includes_external_id", "balances", vm.action)' type='number' class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					{{vm.utils.getDisplayValue("pp_includes_name", "balances")}}
				</div>
				<div class="col-md-6">
					<select class='form-control' ng-model='vm.entity.pp_includes_name' ng-if='vm.action === "new"'>
						<option ng-repeat='balanceType in vm.availableBalanceTypes' value='{{balanceType}}'>{{balanceType}}</option>
					</select>
					<input ng-model="vm.entity.pp_includes_name" ng-if='vm.action === "update"' ng-disabled="vm.utils.disabled('pp_includes_name', 'balances', vm.action)" type='text' class="form-control" />
				</div>
			</div>
			<div class='row' ng-if='vm.utils.display("to", "balances")'>
				<div class='col-md-2'>
					{{vm.utils.getDisplayValue('to', 'balances')}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{vm.utils.getDateFormat()}}" ng-model="vm.entity.to"
						   is-open="status.opened" date-disabled="vm.utils.disabled('to', 'balances')" close-text="Close" />
					<span>
					  <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened">
						  <i class="glyphicon glyphicon-calendar"></i>
					  </button>
					</span>
				</div>
			</div>

			<hr/>
			<h3>Total</h3>
			<div ng-if='vm.action === "new"'>
				<div class='row'>
					<div class='col-md-2'>
						Amount
					</div>
					<div class='col-md-6'>
						<input ng-model='vm.newBalanceAmount' type='number' class='form-control' />
					</div>
				</div>
			</div>
			<div class='row' ng-if='vm.entity.balance.cost'>
				<div class='col-md-2'>
					Cost
				</div>
				<div class='col-md-6'>
					<input ng-model='vm.entity.balance.cost' type='number' class='form-control' />
				</div>
			</div>
			<div class='row' ng-if='vm.entity.balance.totals.call'>
				<div class='col-md-2'>
					Call
				</div>
				<div class='col-md-6'>
					<input ng-model='vm.entity.balance.totals.call.usagev' type='number' class='form-control' />
				</div>
			</div>
			<div class='row' ng-if='vm.entity.balance.totals.sms'>
				<div class='col-md-2'>
					SMS
				</div>
				<div class='col-md-6'>
					<input ng-model='vm.entity.balance.totals.sms.usagev' type='number' class='form-control' />
				</div>
			</div>
			<div class='row' ng-if='vm.entity.balance.totals.data'>
				<div class='col-md-2'>
					Data
				</div>
				<div class='col-md-6'>
					<input ng-model='vm.entity.balance.totals.data.usagev' type='number' class='form-control' />
				</div>
			</div>
		</div>
		<div class='jsonView' ng-if='vm.advancedMode === true'>
			<json child='vm.entity' default-collapsed='true' type='object'></json>
		</div>
		<div class="modal-footer">
			<a ng-click='vm.setAdvancedMode(false)' class="clickable" ng-if='vm.advancedMode'>Basic Mode</a>
			<a ng-click='vm.setAdvancedMode(true)' class="clickable" ng-if='!vm.advancedMode'>Advanced Mode</a>
			<button class="btn" ng-click='vm.cancel()'>Cancel</button>
			<button type='submit' class="btn btn-primary" ng-if='vm.authorized_write'>Save changes</button>
		</div>
	</form>
</div>