.MuiStepIcon-root-48.MuiStepIcon-active-50 {
  color: #2e90bc!important;
}
.MuiStepIcon-root-48.MuiStepIcon-completed-51 {
  color: #2e90bc!important;
}
.MuiStepper-horizontal-2 {
  background-color: transparent!important;
}
