image: docker:20.10.16
stages:
  - build
  - push

services:
  - docker:dind
build:
  stage: build
  script:
    - echo "Building Docker image from Tag $CI_COMMIT_TAG"
    - docker build -t billrun/billrun:$CI_COMMIT_TAG .
    - docker images
  rules:
    - if: '$CI_COMMIT_TAG =~ /^customer_portal-./'
push:
  stage: push
  script:
    - docker images
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker push billrun/billrun:$CI_COMMIT_TAG
    - docker rmi -f billrun/billrun:$CI_COMMIT_TAG
  when: manual
  only:
    - tags