default:
  tags:
    - new_docker_runner  # docker runner

image: serhii22ua/docker-compose-python10:latest-amd64

stages:
  - build
  - test

# # woraround for set pipeline status = skipped. Add lebel skip_ci to Merge Request
print-info:
 stage: build
 rules:
   - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS == "skip_ci"
 when: manual
 script:
   - 'echo "Job start: $CI_JOB_STARTED_AT"'
   - 'echo "Branch: $CI_COMMIT_BRANCH"'
   - 'echo "Commit Author: $CI_COMMIT_AUTHOR"'
   
integration_backend_tests:
  services:
   - name: docker:dind
     alias: dockerhost

  variables:
    DOCKER_HOST: tcp://dockerhost:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""

  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS != "skip_ci"
  before_script:
    # build and run BillRun app in docker
    - 'echo "Before Script Started!!"' 
    - cd $CI_PROJECT_DIR/docker/billrun-docker
    - pwd
    - docker-compose -f docker-compose-php74.yml up -d
    - docker ps

    # create test virtual env
    - cd $CI_PROJECT_DIR/integration_tests/
    - pwd
    - echo ENV = $TEST_ENV > .env
    - python3 --version  # for debugging
    - pip3 install virtualenv
    - python3 -m venv venv
    - source venv/bin/activate
    - pip3 install -e .

  # run tests with testrail's integration 
  script:
    - pytest -m smoke -s --junitxml=xml_report_backend.xml --testrail --tr-config=$CI_PROJECT_DIR/integration_tests/testrail.cfg --tr-email=$TESTRAIL_EMAIL --tr-password=$TESTRAIL_APIKEY --tr-testrun-description="Merge Request title = $CI_MERGE_REQUEST_TITLE, Commit SHA = $CI_COMMIT_SHORT_SHA"
    - docker ps -a


  artifacts:
    when: always
    paths:
      - $CI_PROJECT_DIR/integration_tests/allure-results/*
      - $CI_PROJECT_DIR/integration_tests/xml_report_backend.xml
    reports:
      junit: $CI_PROJECT_DIR/integration_tests/xml_report_backend.xml
    expire_in: 1 week