image: serhii22ua/docker-compose-python10:latest-amd64

stages:
  - build
  - test

print-info:
 stage: build
 rules:
   - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS == "skip_ci"
 when: manual
 script:
   - 'echo "Job start: $CI_JOB_STARTED_AT"'
   - 'echo "Branch: $CI_COMMIT_BRANCH"'
   - 'echo "Commit Author: $CI_COMMIT_AUTHOR"'
   
python_testcases:
  services:
   - name: docker:dind
     alias: dockerhost

  variables:
    DOCKER_HOST: tcp://dockerhost:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""

  stage: test
  tags:
    - new_docker_runner
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS != "skip_ci"
  before_script:
    # build and run BillRun app in docker
    - cd $CI_PROJECT_DIR/docker/billrun-docker
    - docker compose -f docker-compose-php74.yml up -d

    # create test virtual env
    - cd $CI_PROJECT_DIR/integration_tests/
    - echo ENV = $TEST_ENV > .env
    - python3 --version  # for debugging
    - pip3 install virtualenv
    - python3 -m venv venv
    - source venv/bin/activate
    - pip3 install -e .

  # run python testcases
  script:
    - pytest -m smoke -s --junitxml=xml_report_backend.xml --testrail --tr-config=$CI_PROJECT_DIR/integration_tests/testrail.cfg --tr-email=$TESTRAIL_EMAIL --tr-password=$TESTRAIL_APIKEY --tr-testrun-description="Merge Request title = $CI_MERGE_REQUEST_TITLE, Commit SHA = $CI_COMMIT_SHORT_SHA"

  artifacts:
    when: always
    paths:
      - $CI_PROJECT_DIR/integration_tests/allure-results/*
      - $CI_PROJECT_DIR/integration_tests/xml_report_backend.xml
    reports:
      junit: $CI_PROJECT_DIR/integration_tests/xml_report_backend.xml
    expire_in: 1 week
 
 
php_testcases:
  stage: test
  tags:
    - CI_DEV
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS != "skip_ci"
  before_script:
    # build and run BillRun app in docker
    - mkdir logs cache
    - chmod 777 logs/ cache/
    - cd $CI_PROJECT_DIR/docker/billrun-docker
    - docker-compose -f docker-compose-php74.yml up --build --detach

  # Run php testcases
  script:
    - cd $CI_PROJECT_DIR/docker/billrun-docker/Docker-Testing
    - docker build -t test:v1 .
    - docker run --name testing test:v1
    #- docker logs testing
    - docker logs -f testing &> docker.log &
    - cd $CI_PROJECT_DIR/docker/billrun-docker
    - docker-compose -f docker-compose-php74.yml down -v
    - docker stop testing
    - docker rm testing
    - docker image rm test:v1 nginx:latest mongo:3.6 billrun-php74

  artifacts:
    when: always
    paths:
      - $CI_PROJECT_DIR/docker/billrun-docker/Docker-Testing/docker.log

