<div class="container component" ng-controller='SubscribersAutoRenewController' ng-init="init()">
	<center>
		<h2>{{capitalize(action)}} Subscriber Auto Renew</h2>
	</center>
	<div ng-show="flash.message" ng-class="flash.cls">{{flash.message}}</div>
	<form class='form-inline' ng-submit="save()">
		<div ng-if='!advancedMode'>
			<div class="row" ng-if='utils.display("sid", "renew")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('sid', 'renew')}}
				</div>
				<div class="col-md-6">
					<input ng-model="entity.sid" type="number" class="form-control" ng-disabled='utils.disabled("sid", "renew")' />
				</div>
			</div>
			<div class="row" ng-if='utils.display("aid", "renew")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('aid', 'renew')}}
				</div>
				<div class="col-md-6">
					<input ng-model="entity.aid" type="number" class="form-control" ng-disabled='action !== "new"' />
				</div>
			</div>
			<div class="row" ng-if='utils.display("plan", "renew")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('plan', 'renew')}}
				</div>
				<div class="col-md-6">
					<select ng-model='entity.charging_plan_name' class='form-control' ng-disabled='utils.disabled("plan", "renew")'>
						<option value='' disabled>Select Plan</option>
						<option ng-repeat='availablePlan in availablePlans' value='{{availablePlan}}'>{{availablePlan}}</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					{{utils.getDisplayValue('interval', 'renew')}}
				</div>
				<div class="col-md-6">
					<select ng-model='entity.interval' class='form-control' ng-disabled='utils.disabled("interval", "renew")'>
						<option value='' disabled>Select Period</option>
						<option ng-repeat='interval in intervals' value='{{interval}}'>{{interval}}</option>
					</select>
				</div>
			</div>
			<div class="row" ng-if='utils.display("service_provider", "renew")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('service_provider', 'renew')}}
				</div>
				<div class="col-md-6">
					<select ng-model="entity.service_provider" class="form-control" ng-disabled='utils.disabled("service_provider", "renew")'>
						<option value='' disabled>Select Service Provider</option>
						<option ng-repeat="service_provider in availableServiceProviders">{{service_provider}}<option>
					</select>	
				</div>
			</div>
			<div class='row' ng-if='utils.display("from", "renew")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue('from', 'renew')}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.from" is-open="status.opened" date-disabled="utils.disabled('from', 'renew')" close-text="Close" />
					<span>
					  <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			<div class='row' ng-if='utils.display("to", "renew")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue('to', 'renew')}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.to" is-open="status.opened" date-disabled="utils.disabled('to', 'renew')" close-text="Close" />
					<span>
					  <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			<div class='row' ng-if='utils.display("last_renew_date", "renew")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue('last_renew_date', 'renew')}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.last_renew_date" is-open="status.opened" date-disabled="utils.disabled('last_renew_date', 'renew')" close-text="Close" />
					<span>
					  <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		</div>
		<div class='jsonView' ng-if='advancedMode === true'>
			<json child='entity' default-collapsed='true' type='object'></json>
		</div>
		<div class="modal-footer">
			<a ng-click='setAdvancedMode(false)' class="clickable" ng-if='advancedMode'>Basic Mode</a>
			<a ng-click='setAdvancedMode(true)' class="clickable" ng-if='!advancedMode'>Advanced Mode</a>
			<button class="btn" ng-click='cancel()'>Cancel</button>
			<button type='submit' class="btn btn-primary" ng-if='authorized_write'>Save changes</button>
		</div>		
	</form>
</div>