<div class='container component' ng-init='vm.init()'>
    <h2>
		Bandwidth Cap
    </h2>
    <p>
        <button type='button' ng-click='vm.newBandwidthCap()' class='btn btn-primary' ng-if='!vm.edit_mode'>
            Add Bandwidth Cap
        </button>
    </p>
	<div ng-if="!vm.edit_mode">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th>Subscriber Data Service</th>
					<th>Bandwidth Cap Service</th>
					<th>Speed</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(cap_name, cap) in vm.bandwidthCaps track by $index">
					<td><a ng-click='vm.edit(cap_name)' href=''>{{$index+1}}</a></td>
					<td>{{cap_name}}</td>
					<td>{{cap.SOC}}</td>
					<td>{{cap.speed}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="vm.edit_mode">
		<div class='row' ng-if="vm.newent">
			<div class='col-md-3'>
				<label>Subscriber Data Service</label>
			</div>
			<div class='col-md-3'>
				<input type='text' ng-model='vm.current_entity.cap_name' class='form-control' />
			</div>
		</div>
		<div class='row'>
			<div class='col-md-3'>
				<label>Bandwidth Cap Service</label>
			</div>
			<div class='col-md-3'>
				<input type='text' ng-model='vm.current_entity.SOC' class='form-control' />
			</div>
		</div>
		<div class='row'>
			<div class='col-md-3'>
				<label>Charging By</label>
			</div>
			<div class='col-md-3'>
				<input type='text' ng-model='vm.current_entity.speed' class='form-control' />
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" ng-click='vm.cancel()'>Cancel</button>
			<button type='submit' class="btn btn-primary" ng-if='vm.authorized_write' ng-click='vm.save()'>Save changes</button>
		</div>
	</div>
</div>