<div class='container component' ng-init='vm.init()' ng-cloak>
    <h2>
		Active Rating Group Conversions
    </h2>
    <p>
        <button type='button' ng-click='vm.newRgConversion()' class='btn btn-primary'>
            Add Rating Group Conversion
        </button>
    </p>
	<div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>From Rating Group</th>
					<th>To Rating Group</th>
					<th>MCC</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="conversion in vm.rg_conversions">
					<td>{{conversion.from_rg}}</td>
					<td>{{conversion.to_rg}}</td>
					<td>{{conversion.mcc}}</td>
					<td><i class="glyphicon glyphicon-trash" ng-click="vm.removeRgConversion(conversion)"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/><br/>
	<h2>
		Rating Group Conversions History
	</h2>
	<div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Date</th>
					<th>Mode</th>
					<th>From Rating Group</th>
					<th>To Rating Group</th>
					<th>User</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="conversion in vm.rg_conversions_log">
					<td>{{conversion.time}}</td>
					<td> <span ng-class="conversion.mode === 'ON' ? 'label label-success' : 'label label-danger'">{{conversion.mode}}</span></td>
					<td>{{conversion.from_rg}}</td>
					<td>{{conversion.to_rg}}</td>
					<td>{{conversion.user}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>