<div class='container component' ng-init='vm.init()'>
	<center>
		<h2>Service Providers</h2>
	</center>
	<div>
		<button type='button' ng-click='vm.editServiceProviders()' class='btn btn-success' ng-if='!vm.edit_mode'>Edit</button>
		<button type='button' ng-click='vm.saveServiceProviders()' class='btn btn-success' ng-if='vm.edit_mode'>Save</button>
		<button type='button' ng-click='vm.cancelEdit()' class='btn btn-primary' ng-if='vm.edit_mode'>Cancel</button>
		<button type='button' ng-click='vm.removeServiceProviders()' class='btn btn-danger'>Remove</button>
	</div>
	<table class='table table-striped table-bordered'>
		<thead>
			<th style='width: 9%'></th>
			<th style='width: 40%'>Name</th>
			<th style='width: 29%'>Code</th>
			<th style='width: 22%'>ID</th>
		</thead>
		<tbody>
			<tr ng-repeat='service_provider in vm.serviceProviders track by $index'>
				<td>
					<input type='checkbox' ng-model='vm.selectedServiceProviders[service_provider._id].selected' />&nbsp;#{{$index + 1}}
				</td>
				<td>
					<span ng-if='!vm.inEdit(service_provider._id)'>
						{{vm.serviceProviders[$index].name}}
					</span>
					<input type='text' class='form-control' ng-model='vm.serviceProviders[$index].name' ng-if='vm.inEdit(service_provider._id)' />
				</td>
				<td>
					<span ng-if='!vm.inEdit(service_provider._id)'>
						{{vm.serviceProviders[$index].code}}
					</span>
					<input type='text' class='form-control' ng-model='vm.serviceProviders[$index].code' ng-if='vm.inEdit(service_provider._id)' />
				</td>
				<td>
					<span ng-if='!vm.inEdit(service_provider._id)'>
						{{vm.serviceProviders[$index].id}}
					</span>
					<input type='text' class='form-control' ng-model='vm.serviceProviders[$index].id' ng-if='vm.inEdit(service_provider._id)' />
				</td>
			</tr>
		</tbody>
	</table>
	<button type='button' ng-clikc='vm.addServiceProvider()' class='btn btn-primary'>Add Service Provider</button>
</div>