body {
    /*    background-color: #C0C0C0;*/
    font-family: Roboto, sans-serif;
}

.form-control {
    height: 44px!important;
}

.container{
  padding-right: 0;
  padding-left: 0;
}

/* temp Overide bootstrap CSS*/
.bordered-container {
    background-color: white!important;
    border: 2px solid #C0C0C0;
}

[class^="muidocs-icon-"], [class*=" muidocs-icon-"] {
	font-family: 'material-ui-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.required{
  color: red!important;
}
.footer {
    background-color: #272A39!important;
    padding: 20px 0;
}
.footer > .container > p {
    color: white!important;
    font-weight: bold;
}
.topbar{
  padding:5px 20px!important;
}
.main-content{
  min-height: 100%;
  background-color: #F4F4F4;
}
.contents {
    background-color: #F4F4F4;
    padding: 20px;
}

.navigator {
    background-color: #01BFA5;
    color: #014A3F;
    height: 70px;
}
.navigator a.active button {
    background: #007666!important;
    color: white!important;
}
.navigator button {
    height: 70px!important;
    color: #014A41!important;
}

ul.pagination > li {
    cursor: pointer;
}

.help-popover {
    padding: 10px!important;
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " x";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}

.imported-reason-title {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}
.cursor-pointer{
  cursor: pointer;
}
.cursor-default{
  cursor: default;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.product-removed {
    color: #cccccc!important;
}
.product-removed small{
  color: #cccccc!important;
}
