.navbar .nav>li{
	line-height: 67px;
}
.component {
	margin-top:50px;
}
.navbar .nav {
	float:right
}
a.brand {
	text-indent: 0 -999px;
}
div#listSize {
	float:right;
}
.toolbar {
	float:left;
}
.date {
	margin-bottom:0;
}

.json-editor .value {
	width:400px;
}

.form_protect {
	margin-left:30px;
}