.navbar .nav>li{
	line-height: 67px;
}
.component {
	margin-top:30px;
}
.navbar .nav {
	float:right
}
a.brand {
	text-indent: 0 -999px;
}
div#listSize {
	float:right;
}
.toolbar {
	float:left;
	width: 100%;
}
.date {
	margin-bottom:0;
}

.json-editor .value {
	width:400px;
}

.form_protect {
	margin-left:30px;
}
.add-filter{
	display: none;
}
div:last-of-type>.add-filter{
	display: inline-block;
}
div:nth-of-type(n+5)>.add-filter{
	display: none;
}
@media only screen and (max-width: 1190px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
		display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
    }

    #no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}
.table-no-more-tables {
    max-width: 1190px;
}

input[type=checkbox] {
	width:20px;
}

.toolbar-rates {
	
}
.control-group {
	height: 35px;
}
.toolbar-rates .control-group0,
.toolbar-rates .control-group2 {
	display: inline;
	float:left;
	margin-right: 10px;
}

td[data-title="Rate"] a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
}
.center {
	margin: 50px auto 0;
	display: block;
	width: 500px;
	text-align: center;
}

.login {
	width: 100%;
}

.export-button { background-color: hsl(70, 11%, 23%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134"); background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134)); background-image: -moz-linear-gradient(top, #7b7f66, #3e4134); background-image: -ms-linear-gradient(top, #7b7f66, #3e4134); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134)); background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134); background-image: -o-linear-gradient(top, #7b7f66, #3e4134); background-image: linear-gradient(#7b7f66, #3e4134); border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36); -webkit-font-smoothing: antialiased; }