.navbar .nav>li{
	line-height: 67px;
}
.component {
	margin-top:50px;
}
.navbar .nav {
	float:right
}
a.brand {
	text-indent: 0 -999px;
}
div#listSize {
	float:right;
}
.toolbar {
	float:right;
}
.date {
	margin-bottom:0;
}