/* 
	Table of Contents

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	     03. Fonts ------------------------------------
	     04. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	         Grid -------------------------------------
	         Responsive Helpers -----------------------
	II.  Regions --------------------------------------
	     01. Container --------------------------------
	     02. Content ----------------------------------
	     03. Footer -----------------------------------
	     04. Header -----------------------------------
	     05. Main -------------------------------------
	     06. Shell ------------------------------------
	     07. Sidebar ----------------------------------
	     08. Wrapper ----------------------------------
	III. Modules --------------------------------------
	     01. Button -----------------------------------
	         Button Block -----------------------------
	     02. Details ----------------------------------
	     03. Form Elements ----------------------------
	     04. Checkbox ---------------------------------
	     05. Form -------------------------------------
	     06. Form Plans -------------------------------
	     07. List -------------------------------------
	     08. List Details -----------------------------
	     09. List Price -------------------------------
	     10. List Checkboxes --------------------------
	     11. List Radios ------------------------------
	     12. Logo -------------------------------------
	     13. Nav Footer -------------------------------
	     14. Plan -------------------------------------
	     15. Popup ------------------------------------
	     16. Section ----------------------------------
	     17. Slider -----------------------------------
	     18. Table ------------------------------------
	     19. Widget -----------------------------------
 */

.cols:after,
.shell:after { content: ''; line-height: 0; display: table; clear: both; }
/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }
html { tap-highlight-color: rgba(0,0,0,0); }
body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }
img,
iframe,
video,
audio,
object { max-width: 100%; }
img,
iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }
b,
strong { font-weight: bold; }
address { font-style: normal; }
svg:not(:root) { overflow: hidden; }
a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }
a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }
button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
button,
select { text-transform: none; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
nav ul,
nav ol { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body { min-width: 320px; background: #fff; font-family: 'Roboto Condensed', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.3; color: #808184; }
a { color: inherit; text-decoration: underline; }
a:hover { text-decoration: none; color: #0043a5; }
a[href^="tel"] { text-decoration: none; }
h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.65em; }
h1 { font-size: 30px;  font-weight:400; }
h2 { font-size: 25px;  font-weight:400; }
h3 { font-size: 22px;  font-weight:400; }
h4 { font-size: 20px;  font-weight:400; }
h5 { font-size: 16px;  font-weight:400; }
h6 { font-size: 13px;  font-weight:400; }
p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.3em; }
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }
/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */
/*  Clear  */
.clear:after { content: ''; line-height: 0; display: table; clear: both; }
/*  Notext  */
.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }
/*  Hidden  */
[hidden],
.hidden { display: none; }
/*  Alignleft  */
.alignleft { float: left; }
/*  Alignright  */
.alignright { float: right; }
/*  Disabled  */
[disabled],
.disabled { cursor: default; }
/*  Grid  */
.cols { margin: 0 -4px; }
.cols:after { }
.col { float: left; width: 100%; padding: 0 4px; }
.col-1of2 { width: 50%; }
/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }
@media (max-width: 767px) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}
@media (min-width: 1201px) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}
.text { display: inline-block; vertical-align: middle; }
.mCSB_scrollTools .mCSB_draggerRail { width: 5px; background:#f2f2f2; border-radius: 0; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 5px; border-radius: 0; background:#999 !important; }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background:#999; }
.scrollable  { overflow: auto; max-height: 340px; }
/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
.container {}
/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
.content {}
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer { background:#404041; font-size:13px; color: #ccc; padding: 8px 0; overflow: hidden; border-top:1px solid #9f9fa0; }
.footer .copyright { float:left; }
.footer a:hover { color: #fff; }
/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header { padding: 11px 0 2px 0; }
.header .header-aside { display:block; overflow: hidden; font-size:11px; text-align:right; padding-top:10px; }
/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main {}
/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.shell { max-width: 1000px; padding-left: 34px; padding-right: 34px; margin: auto; }
.shell:after { }
@media (max-width: 767px) {
	.shell { padding-left:10px; padding-right:10px; }
}
.shell-fluid { max-width: none; }
/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
.sidebar {}
/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper { min-height: 100vh; }
/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}
/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }
/* ------------------------------------------------------------ *\
	Details
\* ------------------------------------------------------------ */
.details { color: #404041; }
.details .details-title { font-weight:300; }
.details .details-head span { color: #808184; }
.details .details-head { margin-bottom:20px; }
.details .details-content {}
/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */
input::-webkit-input-placeholder { color: inherit; opacity: 1; }
input::-moz-placeholder { color: inherit; opacity: 1; }
input:-ms-input-placeholder { color: inherit; opacity: 1; }
input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea::-moz-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }
input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
.field { border:1px solid #919294; display:block; width: 100%; padding:4px 7px; color: #404041; font-size:16px; }
.field:focus { border-color: #0d72b9; }
.textarea {}
.select {}
.radio { font-size:16px; border:1px solid #8f9092; position: relative; overflow: hidden; transition: box-shadow .2s; }
.radio:hover { box-shadow: -1px 5px 6px 1px rgba(0,0,0,.3); }
.radio .radio-icon { text-align:left; display: inline-block; vertical-align: middle; line-height:1; position: absolute; top: 6px; right:5px; }
.radio label { display:block; padding: 8px; position: relative; }
.radio label > * { position: relative; z-index: 1; }
.radio label input { position: absolute; top:-100px; left:-100px; }
.radio .material-icons { position: relative; z-index: 1; font-size:16px; }
.radio .material-icons:first-child { display: inline-block; }
.radio .material-icons:nth-child(2) { display:none; }
.radio input:checked + .overlay { position: absolute; top:0; left:0; width: 100%; height:100%; background:#90cef0; opacity: .5; }
.radio input:checked + .overlay + .radio-icon .material-icons:first-child { display:none; }
.radio input:checked + .overlay + .radio-icon .material-icons:nth-child(2) { display: inline-block; }
.radio input:checked + .overlay + .radio-icon .material-icons { color: #0d72b9; }
.radio-cards { line-height:86px; text-align:center; width: 182px; }
.radio .plan { border:0; padding: 0; margin: 0; }
.radio img { max-width: 165px; }
@media (max-width: 767px) {
	.radio { width: auto; display:block; }
}
/* ------------------------------------------------------------ *\
	Checkbox
\* ------------------------------------------------------------ */
.checkbox { font-size:16px; width: 182px; border:1px solid #8f9092; position: relative; overflow: hidden; transition: box-shadow .2s; }
.checkbox:hover { box-shadow: -1px 5px 6px 1px rgba(0,0,0,.3); }
.checkbox .checkbox-icon { text-align:left; display: inline-block; vertical-align: middle; line-height:1; position: absolute; top: 0; right:0; }
.checkbox label { display:block; padding: 6px 6px; position: relative; }
.checkbox label > * { position: relative; z-index: 1; }
.checkbox label input { position: absolute; top:-100px; left:-100px; }
.checkbox h5 { position: relative; z-index: 1; color: #0d72b9; margin: 0 0 2px 0; line-height:1; width: 152px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.checkbox h2 { color: #0d72b9; line-height:1; position: relative; z-index: 1; margin: 0; }
.checkbox h2 sub { color: #404041; font-size:13px; display: inline-block; vertical-align: bottom; position: relative; top:-3px; }
.checkbox p { margin: 0 0 7px 0; font-weight:300; letter-spacing: -0.05em; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.checkbox .material-icons { position: relative; z-index: 1; }
.checkbox .material-icons:first-child { display: inline-block; }
.checkbox .material-icons:nth-child(2) { display:none; }
.checkbox input:checked + .overlay + .checkbox-icon .material-icons:first-child { display:none; }
.checkbox input:checked + .overlay + .checkbox-icon .material-icons:nth-child(2) { display: inline-block; }
.checkbox input:checked + .overlay + .checkbox-icon .material-icons { color: #0d72b9; }
.checkbox input:checked + .overlay { position: absolute; top:0; left:0; width: 100%; height:100%; background:#90cef0; opacity: .5; }
@media (max-width: 767px) {
	.checkbox { width: auto; }
}
/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */
.form { padding-bottom:30px; }
.form .form-head { background:#4d4d4d; padding: 21px 0 18px 0; }
.form .form-title { color: #fff; font-weight:400; text-transform: uppercase; font-family: 'Roboto', 'Helvetica', sans-serif; }
.form .form-body { padding-bottom:11px; }
.form .form-section { padding:15px 0 24px 0; }
.form .form-section-info { background:#c7e6f7; }
.form .form-section-how { padding-top:20px; }
.form .form-section-services { padding-bottom:17px; }
.form .form-section-details { padding-bottom:0; }
.form .form-section-details .form-section-content { border-bottom:2px solid #c7e6f7; padding-bottom:14px; }
.form .form-section-solid { background-color:#e6e6e6; padding-bottom:10px; }
.form .form-subtitle { color: #0d72b9; font-weight:400; margin-bottom:8px; letter-spacing: -0.02em; }
.form .form-section-content { padding:0 0 0 52px; }
.form .form-section-content-small { max-width: 660px; }
.form .form-section-content-small h6 { padding-right:10px; }
.form .form-actions { font-size:0; }
.form .form-btn { font-size:16px; font-weight:300; padding: 8px; border:0; letter-spacing: -0.01em; }
.form .form-btn-submit { background-color:#0d72b9; color: #fff; transition: background .2s; }
.form .form-btn-submit:hover { background-color: #0052b5; }
.form .form-btn-reset { color: #404041; border:0; border-left:1px solid #404041; background:transparent; margin-left:18px; padding-left:15px; }
.form .form-btn-reset:hover { color: #000; }
.form .form-label { display:block; margin-bottom:7px; }
.form .form-row { margin-bottom:8px; }
.form .form-group { max-width: 370px; }
@media (max-width: 767px) {
	.form .form-section-content { padding-left:10px; }
}
/* ------------------------------------------------------------ *\
	Form Plans
\* ------------------------------------------------------------ */
.form-plans { padding-bottom:0; }
.form-plans .form-head { background:transparent; padding: 0; }
.form-plans .form-title { color: #0d72b9; font-weight:300; margin-bottom:8px; }
.form-plans .radio label { padding: 4px; }
.form-plans .form-btn-submit { width: 72px; }
.form-plans .form-actions { padding-top:8px; }
/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */
[class^="list-"] { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	List Details
\* ------------------------------------------------------------ */
.list-details a { text-decoration: none; }
/* ------------------------------------------------------------ *\
	List Price
\* ------------------------------------------------------------ */
.list-price { font-size:0; }
.list-price li { display: inline-block; vertical-align: middle; }
.list-price li + li { padding-left: 15px; }
.list-price h2 { margin: 0; color: #0d72b9; }
.list-price h6 { margin: 0; color: #404041; }
@media (max-width: 767px) {
	.list-price h2 { font-size:20px; }
	.list-price h6 { font-size:10px; }
	.list-price li { width: 33.3%; vertical-align: top; }
	.list-price li + li { padding-left:5px; }
}
/* ------------------------------------------------------------ *\
	List Checkboxes
\* ------------------------------------------------------------ */
.list-checkboxes { font-size:0; }
.list-checkboxes > li { display: inline-block; vertical-align: top; padding-right:8px; margin-bottom: 10px;}
@media (max-width: 1023px) {
	.list-checkboxes > li { padding-bottom:8px; }
}
@media (max-width: 767px) {
	.list-checkboxes > li { padding-right:0; display:block; }
}
/* ------------------------------------------------------------ *\
	List Radios
\* ------------------------------------------------------------ */
.list-radios { font-size:0; margin-bottom:15px; padding-top:7px; }
.list-radios > li { display: inline-block; vertical-align: top; padding-right:8px; }
.list-radios-block > li { display:block; margin-bottom:10px; }
/*.list-radios-alt { overflow: auto; max-height: 340px; }*/
@media (max-width: 767px) {
	.list-radios > li { padding-bottom:8px; display:block; padding-right:0; }
}
/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
.logo { display:block; float:left; text-decoration: none; position: relative; left:-8px; }
.logo .logo-icon { width: 120px; display: inline-block; vertical-align: middle; }
.logo .text { color: #404041; font-size: 30px; margin-left:13px; letter-spacing: -0.02em; }
@media (max-width: 767px) {
	.logo .text { font-size:18px; margin-left:0; }
}
@media (max-width: 479px) {
	.logo { left:0; }
	.logo .text { display:none; }
}
.logo-billrun { display: inline-block; vertical-align: middle; width: 100px; height:23px; background: url(images/logo-billrun@2x.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; background-size: 85px 23px; position: relative; right:-4px; }
/* ------------------------------------------------------------ *\
	Nav Footer
\* ------------------------------------------------------------ */
.nav-footer { float:right; }
.nav-footer li { display: inline-block; vertical-align: middle; padding-right:0; padding-left:10px; }
.nav-footer a { text-decoration: none; }
/* ------------------------------------------------------------ *\
	Plan
\* ------------------------------------------------------------ */
.plan { border:1px solid #939497; padding: 7px 7px 3px 7px; margin-bottom:18px; position: relative; }
.plan.plan-alt { border:0; margin: 0; }
.plan .plan-title { color: #0d72b9;  }
.plan p { margin: 0 0 5px 0; }
.plan .plan-body { overflow: hidden; }
.plan .plan-aside { font-size:13px; float:left; width: 60px; color: #404041; }
.plan .plan-content { overflow: hidden; }
/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */
.popup { background: rgba(0,0,0, .5); position: fixed; top:0; left:0; width: 100%; height:100%; text-align:center; z-index: 999; 
	visibility: hidden; opacity: 0; font-size:0; 
	transition: opacity .3s; 
}
.popup .popup-body:before { content:''; height:100%; min-height: 100vh; display: inline-block; vertical-align: middle; }
.popup .popup-content { text-align:left; background:#fff; display: inline-block; vertical-align: middle; width: 442px; padding: 20px 25px 20px 25px; -ms-transform: scale(0); transform: scale(0); position: relative; font-size:16px; 
	transition: all .3s;
}
.popup.open { visibility: visible; opacity: 1; }
.popup.open .popup-content { -ms-transform: scale(1); transform: scale(1); }
.popup-trigger.popup-trigger-close { position: absolute; top:20px; right:25px; font-size:30px; color: #999; line-height:1; }
.popup-trigger.popup-trigger-absolute { position: absolute; top:0; left:0; width: 100%; height:100%; }
.popup-trigger.popup-trigger-absolute i { position: absolute; top: 5px; right: 5px; color: #333; font-size: 18px; }
@media (max-width: 1023px) {
	.popup .popup-body { text-align:left; }
	.popup .popup-content { width: 100%; }
}
@media (max-width: 767px) {
	.popup .popup-body { padding-left:10px; padding-right:10px; }
	.popup .popup-content { padding: 10px; }
	.popup-trigger.popup-trigger-close { top:10px; right:10px; }
}
/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */
.section {}
/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.slider {}
.slider .slides { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */
.table {}
/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */
.widgets { list-style: none outside none; }
