<!DOCTYPE html>

<html>
	<head>
		<style>
		
			.logo {
				float:right;
			}
			.company-name {
				font-size: 16px;
				font-weight: bold;
			}
			.header-date {
				font-size: 10px;
			}
	</style>
</head>
<body>
	<div id="wrapper">
		<header id="header">
			<div class="wrap">
				<br/><br/><br/>
				<div class="logo"><img src="~logo_path~" style="width:190px;"></div>
				<div class="company-name">~company_name~</div>
				<div class="header-date"><span class="header-date-title">Date: </span>~date~</div>
			</div>
		</header>
		
	</div>
</body>
</html>

