<!-- Footer -->
<div class="footer">
  <div class="shell">
    <div class="section">
      <div class="table footer">
        <table style="font-size:16px;font-weight: 300;">
          <tbody>
            <tr>
              <td>
                <ul class="list-contacts step-company-details-footer">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i> 221 Murray Street, New York, NY 10007</li>

                <li><i class="fa fa-phone" aria-hidden="true"></i> 1-800-123-4567</li>

                <li><i class="fa fa-globe" aria-hidden="true"></i> http://billrun.com</a></li>

                <li><i class="fa fa-at" aria-hidden="true"></i> cloud_support@billrun.com</a></li>
                </ul>
              </td>
              <td>
                <p class="credentials"> <span class="text">powered by</span> <img class="billrun-logo" src="./img/footer-logo.png" alt=""></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
