<div class="section section-invoice-head">
	<div class="table">
		<table>
			<tbody><tr>
				<td class="page-title"><h3 class="inline">INVOICE</h3></td>
				<td>
					<span class="label">Customer</span>
					<h3 class="inline">David Morrison</h3>
				</td>
				<td>
					<span class="label">Invoice#</span>
					<span>100183</span>
				</td>
				<td class="period">
					<span class="label">Period</span>
					<h3 class="inline">01/05 - 31/05</h3>
				</td>
			</tr>
		</tbody></table>
	</div><!-- /.table -->
</div>

<div class="section section-invoice-base step-subscription-details">
	<h2>Subscription#1:</h2>
	<h1>Frank Reily</h1>
</div>
