<!-- Body -->
<div class="wrapper">
  <div class="shell">
    <div class="container">
        <div class="section section-invoice-details sumup">
          <div class="section-head">
            <h2 class="section-title section-title-alt">Invoice summary</h2><!-- /.section-title -->
          </div><!-- /.section-head -->
          <div class="section-body">
            <div class="table table-default table-default-primary complex-sumup-wrapper">
              <table class="complex-sumup">
          <thead>
            <tr>
              <th>Description</th>
              <th>Qty</th>
              <th>Rate</th>
              <th></th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="step-plan">
              <td class="desc step-plan">Premium unlimited plan</td>
              <td class="qty">5</td>
              <td class="rate">14.95</td>
              <td class="span small-text"></td>
              <td class="amount">$74.75</td>
            </tr>
            <tr class="">
              <td class="desc">Voicemail service</td>
              <td class="qty">1</td>
              <td class="rate">14.95</td>
              <td class="span small-text"></td>
              <td class="amount">$14.95</td>
            </tr>
            <tr class="step-service">
              <td class="desc">IP Phone rental</td>
              <td class="qty">1</td>
              <td class="rate">14.95</td>
              <td class="span small-text"></td>
              <td class="amount">$14.95</td>
            </tr>
            <tr class="">
              <td class="desc">Call Recording</td>
              <td class="qty">4</td>
              <td class="rate">6.95</td>
              <td class="span small-text"></td>
              <td class="amount">$27.80</td>
            </tr>
            <tr class="step-discount">
              <td class="desc">Premium unlimited plan discount</td>
              <td class="qty">1</td>
              <td class="rate">-14.95</td>
              <td class="span small-text"></td>
              <td class="amount">$-14.95</td>
            </tr>
            <tr class="">
              <td colspan="4">Usage charges</td>
              <td>$36.92</td>
            </tr>
            <tr class="">
              <td colspan="4">Charges</td>
              <td>$0.00</td>
            </tr>
            <tr class="last">
              <td colspan="4">Refunds</td>
              <td>$0.00</td>
            </tr>
            <tr class="total subtotal">
              <td colspan="4">SUBTOTAL</td>
              <td>$154.42</td>
            </tr>
            <tr class="total">
              <td colspan="4">VAT (17%)</td>
              <td>$26.25</td>
            </tr>
<!--            <tr class="">
              <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Local communications svc  tax </td>
              <td>$14.82</td>
            </tr>
                <tr class="">
              <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fl communications services tax </td>
              <td>$21.20</td>
            </tr>
                <tr class="">
              <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Federal trs fund </td>
              <td>$1.02</td>
            </tr>
                <tr class="">
              <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Federal universal service fund </td>
              <td>$8.28</td>
            </tr>
                <tr class="last">
              <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fl 911 surcharge </td>
              <td>$2.00</td>
            </tr>
-->
            <tr class="grand-total">
              <td colspan="4">GRAND TOTAL</td>
              <td>$180.67</td>
            </tr>
              </tbody>
            </table>
          </div><!-- /.table table-default table-default-primary -->
        </div><!-- /.section-body -->
      </div>
    </div>
  </div>
</div>
