<center>
	<h2 ng-if='action !== "duplicate"'>{{entity.name}}</h2>
	<h3>{{capitalize(action)}} Charging Plan</h3>
</center>
<div>
	<form class='form-inline' ng-submit='save()'>
		<div ng-if='!advancedMode'>
			<div class='row' ng-if='action === "duplicate"'>
				<div class='col-md-2'>
					Name
				</div>
				<div class='col-md-6'>
					<input type='text' ng-model='entity.name' class='form-control'/>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-2'>
					Description
				</div>
				<div class='col-md-6'>
					<input ng-model='entity.desc' type='text' class='form-control' />
				</div>
			</div>
			<div class='row'>
				<div class='col-md-2'>
					Service Provider
				</div>
				<div class='col-md-6'>
					<select ng-model="entity.service_provider" class="form-control">
						<option ng-repeat="service_provider in availableServiceProviders">{{service_provider}}<option>
					</select>				
				</div>
			</div>
			<div class='row'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("operation", "plans")}}
				</div>
				<div class='col-md-6'>
					<select ng-model="entity.operation" class="form-control">
						<option ng-repeat="operation in availableOperations">{{operation}}<option>
					</select>				
				</div>
			</div>
			<div class="row">
				<div class='col-md-2'>
					{{utils.getDisplayValue("recurring", "plans")}}
				</div>
				<div class='col-md-6'>
					<input ng-model='entity.recurring' type='number' class='form-control' />
				</div>
			</div>
			<div class='row' ng-if='utils.display("from", "plans")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("from", "plans")}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.from" is-open="status.opened"
						   date-disabled="utils.disabled('from', 'plans')" close-text="Close" />
					<span>
					  <butfromn type="butfromn" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></butfromn>
					</span>
				</div>
			</div>
			<div class='row' ng-if='utils.display("to", "plans")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("to", "plans")}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.to" is-open="status.opened"
						   date-disabled="utils.disabled('to', 'plans')" close-text="Close" />
					<span>
					  <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			
			<div ng-hide="entity.include === undefined">
				<hr/>
				<h3>Include</h3>
				<select class='form-control' ng-model='newIncludeType.type'>
					<option value='' disabled>Select Rate Type</option>
					<option ng-repeat='include_type in availableIncludeTypes'
							ng-disabled='includeTypeExists(include_type)'
							value='{{include_type}}'>
						{{include_type}}
					</option>
				</select>
				<a href='' ng-click='addIncludeType()'>Add Rate</a>
				<div class="row" ng-if='!isObject(entity.include.cost) && entity.include.cost'>
					<div class="col-md-2">
						Cost
					</div>
					<div class="col-md-6">
						<input ng-model="entity.include.cost" type="text" class="form-control" />
					</div>
				</div>
				<div class="row cost" ng-repeat='cost in entity.include.cost track by $index' ng-if='isObject(entity.include.cost)'>
					<fieldset>
						<legend>Cost  <small><i class="glyphicon glyphicon-minus-sign" ng-click="removeIncludeCost($index)"></i></small></legend>
						<div class='row'>
							<div class='col-md-2'>
								Value
							</div>
							<div class="col-md-6">
								<input ng-model='cost.value' type='number' class='form-control' />
							</div>
						</div>
						<div class='row'>
							<div class='col-md-2'>
								Name
							</div>
							<div class="col-md-6">
								<input ng-model='cost.pp_includes_name' type='text' class='form-control' />
							</div>
						</div>
						<div class='row'>
							<div class='col-md-2'>
								External Id
							</div>
							<div class="col-md-6">
								<input ng-model='cost.pp_includes_external_id' type='text' class='form-control' />
							</div>
						</div>

						<h5>Period</h5>
						<div>
							<div class='row'>
								<div class='col-md-2 col-indent'>
									Unit:
								</div>
								<div class='col-md-6'>
									<select class='form-control' ng-model='cost.period.unit'>
										<option ng-repeat="unit in availableCostUnits">{{unit}}</option>
									</select>
								</div>
							</div>
							<div class='row'>
								<div class='col-md-2 col-indent'>
									Duration:
								</div>
								<div class='col-md-6'>
									<input ng-model='cost.period.duration' type='text' class='form-control'/>
								</div>
							</div>
						</div>
					</fieldset>
				</div>			
				<div ng-repeat="(includeTypeName, includeType) in entity.include" ng-if='includeTypeName !== "cost"'>
					<div ng-if="isObject(includeType)">
						<fieldset>
							<legend>{{includeTypeName}} <small><i class="glyphicon glyphicon-minus-sign" ng-click="removeIncludeType(includeTypeName)"></i></small></legend>
							<div class="row">
								<div class="col-md-2">
									Cost
								</div>
								<div class="col-md-6">
									<input ng-model="includeType.cost" type="text" class="form-control" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									Usagev
								</div>
								<div class="col-md-6">
									<input ng-model='includeType.usagev' type='number' class='form-control' />
								</div>
							</div>
							<div class='row'>
								<div class="col-md-2">
									Name
								</div>
								<div class="col-md-6">
									<input ng-model='includeType.pp_includes_name' type='text' class='form-control' />
								</div>
							</div>
							<div class='row'>
								<div class="col-md-2">
									External ID
								</div>
								<div class="col-md-6">
									<input ng-model='includeType.pp_includes_external_id' type='text' class='form-control' />
								</div>
							</div>
							<h5>Period</h5>
							<div class="">
								<div class='row'>
									<div class='col-md-2 col-indent'>
										Unit
									</div>
									<div class='col-md-6'>
										<select class='form-control' ng-model='includeType.period.unit'>
											<option ng-repeat="unit in availableCostUnits">{{unit}}</option>
										</select>
									</div>
								</div>
								<div class='row'>
									<div class='col-md-2 col-indent'>
										Duration
									</div>
									<div class='col-md-6'>
										<input ng-model='includeType.period.duration' type='number' class='form-control' />
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class='jsonView' ng-if='advancedMode === true'>
			<json child='entity' default-collapsed='true' type='object'></json>
		</div>
		<div class="modal-footer">
			<div class='pull-left' ng-if='action === "duplicate"'>
				<input ng-model='duplicate_rates.on' id='duplicate_rate' type='checkbox'/>
				<label for='duplicate_rate'>Duplicate Rate</label>
			</div>
			<a ng-click='setAdvancedMode(false)' class="clickable" ng-if='advancedMode'>Basic Mode</a>
			<a ng-click='setAdvancedMode(true)' class="clickable" ng-if='!advancedMode'>Advanced Mode</a>
			<button class="btn" ng-click='cancel()'>Cancel</button>
			<button type='submit' class="btn btn-primary" ng-if='authorized_write'>Save changes</button>
		</div>
	</form>
</div>
