<div class="component container">
	<div class="fixed-title">
		<center>
			<h2>{{capitalize(action)}} {{capitalize(plan_type)}} Plan {{entity.name}}</h2>
		</center>
	</div>
	<div pretty-error errors="err.data"></div>
	<form class='form-inline' style="margin-top:70px;">
		<div ng-if='!advancedMode'>
			<div class='row' ng-if='action === "duplicate" || action === "new"'>
				<div class='col-md-2'>
					Name
				</div>
				<div class='col-md-6'>
					<input type='text' ng-model='entity.name' class='form-control'/>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-2'>
					Description
				</div>
				<div class='col-md-6'>
					<input ng-model='entity.desc' type='text' class='form-control' />
				</div>
			</div>
			<div class='row'>
				<div class='col-md-2'>
					Service Provider
				</div>
				<div class='col-md-6'>
					<select ng-model="entity.service_provider" class="form-control"
                                                ng-options="sp as sp for sp in availableServiceProviders">
					</select>				
				</div>
			</div>
			<div class='row'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("operation", "plans")}}
				</div>
				<div class='col-md-6'>
					<select ng-model="entity.operation" class="form-control"
                                                ng-options="operation.value as operation.label for operation in availableOperations">
					</select>
				</div>
			</div>
			<div class="row" ng-if="utils.display('recurring', 'plans')">
				<div class='col-md-2'>
					{{utils.getDisplayValue("recurring", "plans")}}
				</div>
				<div class='col-md-6'>
					<input ng-model='entity.recurring' type='number' disable-arrows class='form-control' />
				</div>
			</div>
			<div class='row' ng-if='utils.display("charging_type", "plans")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("charging_type", "plans")}}
				</div>
				<div class='col-md-6'>
					<select ng-model='entity.charging_type' class='form-control' style='height: 55px' multiple
                                                ng-options="type as type for type in availableChargingTypes">
					</select>
				</div>
			</div>
			<div class='row' ng-if='utils.display("charging_value", "plans") &&  type === "charging"'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("charging_value", "plans")}}
				</div>
				<div class='col-md-6'>
					<input ng-model='entity.charging_value' type='number' disable-arrows class='form-control' />
				</div>
			</div>
			<div class='row' ng-if='utils.display("from", "plans")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("from", "plans")}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.from" is-open="status.opened"
						   date-disabled="utils.disabled('from', 'plans')" close-text="Close" />
					<span>
					  <butfromn type="butfromn" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></butfromn>
					</span>
				</div>
			</div>
			<div class='row' ng-if='utils.display("to", "plans")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("to", "plans")}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.to" is-open="status.opened"
						   date-disabled="utils.disabled('to', 'plans')" close-text="Close" />
					<span>
					  <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			
			<div ng-if="type === 'charging'">
				<hr/>
				<h3>{{utils.getDisplayValue("period", "plans")}}</h3>
				<div class="row">
					<div class="col-md-2">
						{{utils.getDisplayValue("unit", "plans")}}
					</div>
					<div class='col-md-6'>
						<select class='form-control' ng-model='entity.period.unit'
								ng-options='unit as unit for unit in availableCostUnits'>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						{{utils.getDisplayValue("duration", "plans")}}
					</div>
					<div class='col-md-6'>
						<input type='number' disable-arrows ng-model='entity.period.duration' class='form-control' />
					</div>
				</div>
			</div>
			
			<div ng-if="entity.include !== undefined">
				<hr/>
				<h3>Include</h3>
				<a href='' ng-click='addIncludeType()'>Add Include (Balance)</a>

				<div ng-repeat="includeType in displayData.includeTypes track by $index">
					<fieldset>
						<legend>{{includeType.type}} <small><i class="glyphicon glyphicon-minus-sign" ng-click="removeIncludeType($index)"></i></small></legend>
						<div class="row" ng-if="includeType.pp_include.charging_by == 'cost'">
							<div class="col-md-2">
								Cost
							</div>
							<div class="col-md-6">
								<input ng-model="includeType.cost" type="number" class="form-control" />
							</div>
						</div>
						<div class="row" ng-if="includeType.pp_include.charging_by == 'usagev'">
							<div class="col-md-2">
								Usagev
							</div>
							<div class="col-md-6">
								<input ng-model='includeType.usagev' type='number' disable-arrows class='form-control' />
							</div>
						</div>
						<div class="row" ng-if="includeType.pp_include.charging_by =='total_cost'">
							<div class="col-md-2">
								Value
							</div>
							<div class="col-md-6">
								<input ng-model='includeType.value' type='number' disable-arrows class='form-control' />
							</div>
						</div>
						<div class='row'>
							<div class="col-md-2">
								PP Includes
							</div>
							<div class='col-md-6'>
								<select ng-model="includeType.pp_include" class="form-control"
										ng-options="o as o.name for o in pp_includes"
										ng-init="getPPIncludesDefaultValue(includeType)"
										ng-change="updatePPIncludes(includeType)">
								</select>
							</div>
						</div>
						<div class='row hidden'>
							<div class="col-md-2">
								Name
							</div>
							<div class="col-md-6">
								<input ng-model='includeType.pp_includes_name' type='text' class='form-control' disabled="disabled" />
							</div>
						</div>
						<div class='row hidden'>
							<div class="col-md-2">
								External ID
							</div>
							<div class="col-md-6">
								<input ng-model='includeType.pp_includes_external_id' type='text' class='form-control' disabled="disabled" />
							</div>
						</div>
						<h5>Period</h5>
						<div class="">
							<div class='row'>
								<div class='col-md-2 col-indent'>
									Unit
								</div>
								<div class='col-md-6'>
									<select class='form-control' ng-model='includeType.period.unit'
											ng-options='cost as cost for cost in availableCostUnits'>
									</select>
								</div>
							</div>
							<div class='row'>
								<div class='col-md-2 col-indent'>
									Duration
								</div>
								<div class='col-md-6'>
									<input ng-if="includeType.pp_include.charging_by!='total_cost'" ng-model='includeType.period.duration' type='number' disable-arrows class='form-control' />
									<input ng-if="includeType.pp_include.charging_by=='total_cost'" ng-model='includeType.period.duration' type='text' class='form-control' ng-init="initDurationValue(includeType)" />
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class='jsonView' ng-if='advancedMode === true'>
			<json child='entity' default-collapsed='true' type='object'></json>
		</div>
		<div class="modal-footer">
			<div class='pull-left' ng-if='action === "duplicate"'>
				<input ng-model='duplicate_rates.on' id='duplicate_rate' type='checkbox'/>
				<label for='duplicate_rate'>Duplicate Rate</label>
			</div>
			<a ng-click='setAdvancedMode(false)' class="clickable" ng-if='advancedMode'>Basic Mode</a>
			<a ng-click='setAdvancedMode(true)' class="clickable" ng-if='!advancedMode'>Advanced Mode</a>
			<button class="btn" ng-click='cancel()'>Cancel</button>
			<button apply-notifier 
							onerr="err" 
							text="Apply" ng-click="save(false)" class="btn" ng-if='1||authorized_write'>
			</button>
			<button ng-click="save(true)" class="btn btn-primary" ng-if='authorized_write'>Save changes</button>
		</div>
	</form>
</div>
