<center>
	<h2>{{entity.name}}</h2>
	<h3 class='subtitle'>{{capitalize(action)}} Customer Plan</h3>
</center>
<div pretty-error errors="err.data"></div>
<div>
	<form class='form-inline'>
		<div ng-if='!advancedMode'>
			<div class='row' ng-if='action === "new"'>
				<div class='col-md-2'>Name</div>
				<div class='col-md-6'><input ng-model='entity.name' type='text' class='form-control' /></div>
			</div>
			<div class="row">
				<div class="col-md-2">Service Provider</div>
				<div class='col-md-6'>
					<select ng-model="entity.service_provider" class="form-control">
						<option ng-repeat="service_provider in availableServiceProviders">{{service_provider}}<option>
					</select>				
				</div>			</div>
			<div class="row">
				<div class="col-md-2">External ID</div>
				<div class="col-md-6"><input ng-model='entity.external_id' type='text' class="form-control" /></div>
			</div>
			<div class="row">
				<div class="col-md-2">External Code</div>
				<div class="col-md-6"><input ng-model='entity.external_code' type='text' class="form-control" /></div>
			</div>
			<div class='row' ng-if='utils.display("from", "plans")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("from", "plans")}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.from" is-open="status.opened"
						   date-disabled="utils.disabled('from', 'plans')" close-text="Close" />
					<span>
					  <butfromn type="butfromn" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></butfromn>
					</span>
				</div>
			</div>
			<div class='row' ng-if='utils.display("to", "plans")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("to", "plans")}}
				</div>
				<div class='col-md-6'>
					<input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.to" is-open="status.opened"
						   date-disabled="utils.disabled('to', 'plans')" close-text="Close" />
					<span>
					  <button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>

			<div id='plan-include-groups-div' ng-if="entity.include.groups !== undefined">
				<h3>Groups</h3>
				<input ng-model='newGroup.name' type='text' class='form-control' />
				<i class='add-group glyphicon glyphicon-plus-sign' ng-click="addNewGroup()"></i>
				<div style='margin-top: 15px; margin-bottom: 15px' class='plan-include-group'
					 ng-repeat='(group_name, group_data) in entity.include.groups'>
					<h4>
						<small><i class='delete-plan glyphicon glyphicon-minus-sign' ng-click='deleteGroup(group_name)'></i></small>
						{{group_name}}
					</h4>
					<div class="row" ng-if='group_data.limits'>
						<div class="col-md-2">
							<i class='delete-plan glyphicon glyphicon-minus-sign' ng-click='deleteGroupParam(group_name, "limits")'></i>
							Limits: <small>(edit enabled in advanced mode)</small>
						</div>
						<div class="col-md-6">
							<input ng-model='group_data.limits' type='text' class='form-control group-param' disabled />
						</div>
					</div>

					<div class='row' ng-if='group_data.rule'>
						<div class='col-md-2'>
							<small><i class='delete-plan glyphicon glyphicon-minus-sign' ng-click='deleteGroupParam(group_name, "rule")'></i></small>
							Rule: <small>(edit enabled in advanced mode)</small>
						</div>
						<div class="col-md-6">
							<input ng-model='group_data.rule' type='text' class='form-control group-param' disabled />
						</div>
					</div>

					<div class="row" ng-if='group_data.data !== undefined'>
						<div class="col-md-2">
							<small><i class='delete-plan glyphicon glyphicon-minus-sign' ng-click='deleteGroupParam(group_name, "data")'></i></small>
							Data:
						</div>
						<div class="col-md-6">
							<input ng-model='group_data.data' type='text' class='form-control group-param' />
						</div>
					</div>

					<div class="row" ng-if='group_data.call !== undefined'>
						<div class="col-md-2">
							<small><i class='delete-plan glyphicon glyphicon-minus-sign' ng-click='deleteGroupParam(group_name, "call")'></i></small>
							Call:
						</div>
						<div class="col-md-6">
							<input ng-model='group_data.call' type='text' class='form-control group-param' />
						</div>
					</div>

					<div class="row" ng-if='group_data.incoming_call !== undefined'>
						<div class="col-md-2">
							<small><i class='delete-plan glyphicon glyphicon-minus-sign' ng-click='deleteGroupParam(group_name, "incoming_call")'></i></small>
							Incoming Call:
						</div>
						<div class="col-md-6">
							<input ng-model='group_data.incoming_call' type='text' class='form-control group-param' />
						</div>
					</div>

					<div class="row" ng-if='group_data.incoming_sms !== undefined'>
						<div class="col-md-2">
							<small><i class='delete-plan glyphicon glyphicon-minus-sign' ng-click='deleteGroupParam(group_name, "incoming_sms")'></i></small>
							Incoming SMS:
						</div>
						<div class='col-md-6'>
							<input ng-model='group_data.incoming_sms' type='text' class='form-control group-param' />
						</div>
					</div>

					<div class="row" ng-if='group_data.sms !== undefined'>
						<div class="col-md-2">
							<small><i class='delete-plan glyphicon glyphicon-minus-sign' ng-click='deleteGroupParam(group_name, "sms")'></i></small>
							SMS:
						</div>
						<div class="col-md-6">
							<input ng-model='group_data.sms' type='text' class='form-control group-param' />
						</div>
					</div>

					<div class='row'>
						<div class='col-md-2'>
							<select class='plan-param-type form-control' ng-model='newGroupParam[group_name].type'>
								<option ng-repeat='param in groupParams' ng-disabled="entity.include.groups[group_name][param]">{{param}}</option>
							</select>
						</div>
						<div class='col-md-6'>
							<input type='text' class='form-control' ng-model='newGroupParam[group_name].value' ng-disabled='!newGroupParam[group_name].type' />
							<i class="add-plan-param glyphicon glyphicon-plus-sign" ng-click='addGroupParam(group_name)'></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='jsonView' ng-if='advancedMode === true'>
			<json child='entity' default-collapsed='true' type='object'></json>
		</div>
		<div class="modal-footer">
			<div class='pull-left' ng-if='action === "duplicate"'>
				<input ng-model='duplicate_rates.on' id='duplicate_rate' type='checkbox'/>
				<label for='duplicate_rate'>Duplicate Rate</label>
			</div>
			<a ng-click='setAdvancedMode(false)' class="clickable" ng-if='advancedMode'>Basic Mode</a>
			<a ng-click='setAdvancedMode(true)' class="clickable" ng-if='!advancedMode'>Advanced Mode</a>
			<button class="btn" ng-click='cancel()'>Cancel</button>
			<button apply-notifier 
							onerr="err" 
							text="Apply" ng-click="save(false)" class="btn" ng-if='authorized_write1'>
			</button>
			<button ng-click="save(true)" class="btn btn-primary" ng-if='authorized_write'>Save changes</button>
		</div>
	</form>
</div>
