<div class="container component" ng-controller='SubscribersController' ng-init="init()">
	<center>
		<h2>{{capitalize(action)}} Subscriber {{entity.sid}}</h2>
	</center>
	<form class='form-inline' ng-submit='save()'>
		<div ng-if='!advancedMode'>
			<!--

			<div ng-repeat='field in _.keys(entity)' ng-if='utils.display(field, "subscribers")' class='row'>
				<div class='col-md-2'>
					{{utils.getDisplayValue(field, 'subsribers')}}
				</div>
				<div class='col-md-6'>
					<input ng-model='entity[field]' class='form-control' />
				</div>
			</div>
   
   -->
			<div class="row" ng-if='utils.display("sid", "subscribers")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('sid', 'subscribers')}}
				</div>
				<div class="col-md-6">
					<input ng-model="entity.sid" type="number" class="form-control" ng-disabled='utils.disabled("sid", "subscribers")' />
				</div>
			</div>
			<div class="row" ng-if='utils.display("aid", "subscribers")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('aid', 'subscribers')}}
				</div>
				<div class="col-md-6">
					<input ng-model="entity.aid" type="number" class="form-control" ng-disabled='action !== "new"' />
				</div>
			</div>
			<div class="row" ng-if='utils.display("msisdn", "subscribers")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('msisdn', 'subscribers')}}
				</div>
				<div class="col-md-6">
					<input ng-model="entity.msisdn" type="text" class="form-control" ng-disabled='utils.disabled("msisdn", "subscribers")' />
				</div>
			</div>
			<div class="row" ng-if='utils.display("service_provider", "subscribers")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('service_provider', 'subscribers')}}
				</div>
				<div class="col-md-6">
					<select ng-model="entity.service_provider" class="form-control" ng-disabled='utils.disabled("service_provider", "subscribers")'>
						<option value='' disabled>Select Service Provider</option>
						<option ng-repeat="service_provider in availableServiceProviders">{{service_provider}}<option>
					</select>	
				</div>
			</div>
			<div class="row" ng-if='utils.display("plan", "subscribers")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('plan', 'subscribers')}}
				</div>
				<div class="col-md-6">
					<select ng-model='entity.plan' class='form-control' ng-disabled='utils.disabled("plan", "subscribers")'>
						<option value='' disabled>Select Plan</option>
						<option ng-repeat='availablePlan in availablePlans' value='{{availablePlan}}'>{{availablePlan}}</option>
					</select>
				</div>
			</div>
			<div class="row" ng-if='utils.display("charging_type", "subscribers")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('charging_type', 'subscribers')}}
				</div>
				<div class="col-md-6">
					<select ng-model='entity.charging_type' class='form-control' ng-disabled='utils.disabled("charging_type", "subscribers")'>
						<option value='' disabled>Select Charging Type</option>
						<option ng-repeat='chargingType in availableChargingTypes' value='{{chargingType}}'>{{chargingType}}</option>
					</select>
				</div>
			</div>
			<div class="row" ng-if='utils.display("language", "subscribers")'>
				<div class="col-md-2">
					{{utils.getDisplayValue('language', 'subscribers')}}
				</div>
				<div class="col-md-6">
					<select ng-model='entity.language' class='form-control' ng-disabled='utils.disabled("language", "subscribers")'>
						<option value='' disabled>Select Language</option>
						<option ng-repeat='language in availableLanguages' value='{{language}}'>{{language}}</option>
					</select>
				</div>
			</div>
			<div class='row' ng-if='utils.display("from", "subscribers")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue('from', 'subscribers')}}
				</div>
				<div class='col-md-6'>
					<input ng-model='entity.from' class='form-control' ng-disabled='utils.disabled("from", "subscribers")' />
				</div>
			</div>
			<div class='row' ng-if='utils.display("to", "subscribers")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue('to', 'subscribers')}}
				</div>
				<div class='col-md-6'>
					<input ng-model='entity.to' class='form-control' ng-disabled='utils.disabled("to", "subscribers")' />
				</div>
			</div>
			<div ng-if='utils.display("imsis", "subscribers")'>
				<h4>{{utils.getDisplayValue('imsi', 'subscribers')}}</h4>
				<div ng-repeat="imsi in entity.imsi track by $index">
					<input type="text" class="form-control" ng-model="entity.imsi[$index]" ng-disabled='utils.disabled("imsi", "subscribers")' />
					<i class='glyphicon glyphicon-minus-sign' ng-click='deleteIMSI($index)' ng-if='!utils.disabled("imsi", "subscribers")'></i>
				</div>
				<div>
					<a ng-click="addIMSI()" class="clickable" ng-if='!utils.disabled("imsi", "subscribers")'>Add IMSI</a>
				</div>
			</div>
		</div>
		<div class='jsonView' ng-if='advancedMode === true'>
			<json child='entity' default-collapsed='true' type='object'></json>
		</div>
		<div class="modal-footer">
			<a ng-click='setAdvancedMode(false)' class="clickable" ng-if='advancedMode'>Basic Mode</a>
			<a ng-click='setAdvancedMode(true)' class="clickable" ng-if='!advancedMode'>Advanced Mode</a>
			<button class="btn" ng-click='cancel()'>Cancel</button>
			<button type='submit' class="btn btn-primary" ng-if='authorized_write'>Save changes</button>
		</div>		
	</form>
</div>