<div class="container component" ng-controller='RatesController' ng-init="init()">
    <div class="fixed-title">
            <center>
                    <h2>{{title}}</h2>
            </center>
    </div>
    <div pretty-error errors="err.data"></div>
	<form class='form-inline' style="margin-top: 65px;">
		<div ng-if='!advancedMode'>
			<div class="row" ng-if="action === 'new' || action === 'duplicate'">
				<div class="col-md-2">
					{{utils.getDisplayValue("key", "rates")}}
				</div>
				<div class="col-md-6">
					<input ng-model="entity.key" type='text' class="form-control" /> 
				</div>
			</div>
			<h2>Parameters</h2>
			<div id='rate-out-circuit-groups' ng-hide="entity.params.out_circuit_group === undefined">
				<h3>
					Out Circuit Group
				</h3>
				<div class='rate-out-circuit-group' ng-repeat="outCircuitGroup in entity.params.out_circuit_group">
					<label>From:</label>
					<input type='text' class='form-control' ng-model="outCircuitGroup.from" />
					<label>To:</label>
					<input type='text' class='form-control' ng-model="outCircuitGroup.to" />
					<i class='glyphicon glyphicon-minus-sign' ng-click="deleteOutCircuitGroup(outCircuitGroup)"></i>
				</div>
				<div>
					<label>From:</label>
					<input type='text' class='form-control' ng-model="newOutCircuitGroup.from" />
					<label>To:</label>
					<input type='text' class='form-control' ng-model="newOutCircuitGroup.to" />
					<i class='glyphicon glyphicon-plus-sign' ng-click="addOutCircuitGroup()"></i>
				</div>
			</div>

			<div id='rate-record-types' ng-hide="entity.params.record_type === undefined">
				<h3>
					Record Types
				</h3>
				<div ng-repeat="recordType in entity.params.record_type track by $index">
					<input type="text" class="form-control" ng-model="recordType" />
					<i class='glyphicon glyphicon-minus-sign' ng-click='deleteRecordType($index)'></i>
				</div>
				<div>
					<input type="text" class="form-control" ng-model="newRecordType.value" />
					<i class='glyphicon glyphicon-plus-sign' ng-click="addRecordType()"></i>
				</div>
			</div>

			<div class='row' ng-if='utils.display("from", "rates")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("from", "rates")}}
				</div>
				<div class='col-md-6'>
					<p class="input-group">
					  <input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.from" is-open="status.opened" date-disabled="utils.disabled('from', 'rates')" close-text="Close" />
					  <span class="input-group-btn">
						<butfromn type="butfromn" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></butfromn>
					  </span>
					</p>
				</div>
			</div>
			<div class='row' ng-if='utils.display("to", "rates")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("to", "rates")}}
				</div>
				<div class='col-md-6'>
					<p class="input-group">
					  <input type="text" class="form-control" uib-datepicker-popup="{{utils.getDateFormat()}}" ng-model="entity.to" is-open="status.opened" date-disabled="utils.disabled('to', 'rates')" close-text="Close" />
					  <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="status.opened = !status.opened"><i class="glyphicon glyphicon-calendar"></i></button>
					  </span>
					</p>
				</div>
			</div>
			<div class='row' ng-if='utils.display("interconnect", "rates")'>
				<div class='col-md-2'>
					{{utils.getDisplayValue("interconnect", "rates")}}
				</div>
				<div class='col-md-6'>
					<input type="checkbox" ng-model="entity.params.interconnect" class="form-control" style="width: 17px; margin-top: -5px" />
				</div>
			</div>
			<div class="row" ng-if="entity.params.interconnect">
				<div class="col-md-2">
					{{utils.getDisplayValue("chargable", "rates")}}
				</div>
				<div class="col-md-6">
					<input type="checkbox" ng-model="entity.params.chargable" class="form-control" style='width: 17px; margin-top: -5px' />
				</div>
			</div>
			<h3>
				<small><i ng-click="shown.prefix = !shown.prefix" class="glyphicon glyphicon-chevron-down" ng-show="shown.prefix"></i></small>
				<small><i ng-click="shown.prefix = !shown.prefix" class="glyphicon glyphicon-chevron-right" ng-hide="shown.prefix"></i></small>
				<span ng-click="shown.prefix = !shown.prefix" class="clickable">Prefix</span>
			</h3>
			<div id='rate-prefixes' ng-if="shown.prefix">
				<div ng-repeat="prefix in entity.params.prefix track by $index">
					<input type="text" class="form-control" ng-model="entity.params.prefix[$index]" ng-blur="isPrefixExists($index)" />
					<i class='glyphicon glyphicon-minus-sign' ng-click='deletePrefix($index)'></i>
				</div>
				<div>
					<a ng-click="addPrefix()" class="clickable">Add Prefix</a>
				</div>
			</div>
			
			<h3>
				<small><i ng-click="shown.mcc = !shown.mcc" class="glyphicon glyphicon-chevron-down" ng-show="shown.mcc"></i></small>
				<small><i ng-click="shown.mcc = !shown.mcc" class="glyphicon glyphicon-chevron-right" ng-hide="shown.mcc"></i></small>
				<span ng-click="shown.mcc = !shown.mcc" class="clickable">MCC</span>
			</h3>
			<div id='rate-mcc' ng-if="shown.mcc">
				<div ng-repeat="mcc in entity.params.mcc track by $index">
					<input type="text" class="form-control" ng-model="entity.params.mcc[$index]" ng-blur="isMccExists($index)" />
					<i class='glyphicon glyphicon-minus-sign' ng-click='deleteMcc($index)'></i>
				</div>
				<div>
					<a ng-click="addMcc()" class="clickable">Add MCC</a>
				</div>
			</div>

			<h3>
				<small><i ng-click="shown.msc = !shown.msc" class="glyphicon glyphicon-chevron-down" ng-show="shown.msc"></i></small>
				<small><i ng-click="shown.msc = !shown.msc" class="glyphicon glyphicon-chevron-right" ng-hide="shown.msc"></i></small>
				<span ng-click="shown.msc = !shown.msc" class="clickable">MSC</span>
			</h3>
			<div id='rate-mcc' ng-if="shown.msc">
				<div ng-repeat="msc in entity.params.msc track by $index">
					<input type="text" class="form-control" ng-model="entity.params.msc[$index]" ng-blur="isMscExists($index)" />
					<i class='glyphicon glyphicon-minus-sign' ng-click='deleteMsc($index)'></i>
				</div>
				<div>
					<a ng-click="addMsc()" class="clickable">Add MSC</a>
				</div>
			</div>

			<hr/>

			<h2>Tariffs</h2>
			<div class="row row-indent" ng-repeat='type in ["call", "data", "sms", "video_call", "roaming_incoming_call", "roaming_call"]'>
				<h3>{{titlize(type)}}</h3>
				<div style="margin-bottom: 10px;">
					<select ng-model="newRate[type].name" class="form-control">
						<option value="" disabled>Select Plan</option>
						<option ng-repeat="plan in availablePlans" ng-disabled='planExists(type, plan)'>{{plan}}</option>
					</select>
					<a ng-click="addRate(type)" class="clickable">Add New {{capitalize(type)}} Tariff</a>
				</div>
				<div class="table-wrapper">
					<div class='table'>
						<div class='thead'>
							<div class='th' style='width: 250px;'>Plan</div>
							<div class='th' style='width: 85px;'>Access</div>
							<div class='th' style='width: 100px;'>Interval</div>
							<div class='th' style='width: 130px;'>Price</div>
							<div class='th' style='width: 130px;'>To</div>
							<div class='th no-border' style='width: 10px;'></div>
							<div class='th' style='width: 390px;'>Interconnect</div>
						</div>
						<div class='tbody'>
							<div class='tr parent' ng-repeat='(rateName, rate) in entity.rates[type] track by $index' id="{{rateName}}">
								<div class='table-fix'>
									<div class='td' style='width: 250px; padding: 6px;' ng-class='{double: entity.rates[type][rateName].rate.length > 1}'>
										<i class='glyphicon glyphicon-trash' ng-click="deleteRate(type, rateName)"></i>&nbsp;&nbsp;{{rateName}}
									</div>
									<div class='td' style='width: 85px;' ng-class='{double: entity.rates[type][rateName].rate.length > 1}'>
										<input type='number' disable-arrows step="any" class='form-control' ng-model='entity.rates[type][rateName].access' style='width: 75px;' />
									</div>
								</div>
								<div class='inner-table'>
									<div class='tr' ng-repeat='interval_price in entity.rates[type][rateName].rate track by $index'>
										<div class='td' style='width: 100px;'>
											<input type='number' disable-arrows step="any" class='form-control' ng-model='entity.rates[type][rateName].rate[$index].interval' style='width: 81px;'/>
										</div>
										<div class='td' style='width: 130px;'>
											<input type='number' disable-arrows step="any" class='form-control' ng-model='entity.rates[type][rateName].rate[$index].price' style='width: 120px;'/>
										</div>
										<div class='td' style='width: 130px;'>
											<input type='number' disable-arrows step="any" class='form-control' ng-model='entity.rates[type][rateName].rate[$index].to' style='width: 120px;'/>
										</div>
									</div>
								</div>
								<div class='table-fix'>
									<div class='td'>
										<i class='glyphicon glyphicon-minus-sign' ng-click='deleteCallIntervalPrice(rate)' ng-if='entity.rates[type][rateName].rate.length > 1'></i>
										<i class='glyphicon glyphicon-plus-sign' ng-click='addCallIntervalPrice(rate)' ng-if='entity.rates[type][rateName].rate.length < 2'></i>
									</div>
									<div class='td' style='width: 390px;' ng-class='{double: entity.rates[type][rateName].rate.length > 1}'>
										<select ng-model='entity.rates[type][rateName].interconnect' class='form-control' style='width: 320px;' 
												ng-disabled="isInterconnect()"
												ng-options="ic.key as ic.key for ic in availableInterconnect">
										</select>
										<a href="" ng-if="entity.rates[type][rateName].interconnect" ng-click="showInterconnectDetails(entity.rates[type][rateName].interconnect, type, rateName)">Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='jsonView' ng-if='advancedMode === true'>
			<json child='entity' default-collapsed='true' type='object'></json>
		</div>
		<div class="modal-footer">
			<a ng-click='setAdvancedMode(false)' class="clickable" ng-if='advancedMode'>Basic Mode</a>
			<a ng-click='setAdvancedMode(true)' class="clickable" ng-if='!advancedMode'>Advanced Mode</a>
			<button class="btn" ng-click='cancel()'>Cancel</button>
			<button apply-notifier 
							onerr="err" 
							text="Apply" ng-click="save(false)" class="btn">
			</button>
			<button ng-click="save(true)" class="btn btn-primary" ng-if='authorized_write'>Save changes</button>
		</div>
	</form>
</div>
