<div class="container component" ng-controller='BatchController' ng-init="init()">
	<center>
		<h2>{{capitalize(action)}} Batch {{batch_no}}</h2>
	</center>
	<form class='form-inline' ng-submit='save()'>
		<div>
			<div class="row" ng-if='utils.display("charging_plan", "cards")'>
				<div class="col-md-2">
					{{utils.getDisplayValue("charging_plan", "cards")}}
				</div>
				<div class="col-md-6">
					<select ng-model="entity.charging_plan_name" class="form-control">
						<option value="" disabled>Select Charging Plan</option>
						<option ng-repeat="plan in availablePlans">{{plan}}</option>
					</select>					
				</div>
			</div>
			<div class="row" ng-if='utils.display("service_provider", "cards")'>
				<div class="col-md-2">
					{{utils.getDisplayValue("service_provider", "cards")}}
				</div>
				<div class="col-md-6">
					<select ng-model="entity.service_provider" class="form-control">
						<option value='' disabled>Select Service Provider</option>
						<option ng-repeat="service_provider in availableServiceProviders">{{service_provider}}<option>
					</select>				
				</div>
			</div>
			<div class="row" ng-if='utils.display("status", "cards")'>
				<div class="col-md-2">
					{{utils.getDisplayValue("status", "cards")}}
				</div>
				<div class="col-md-6">
					<select ng-model="entity.status" class="form-control">
						<option value='' disabled>Select Status</option>
						<option ng-repeat="status in cardStatuses" ng-disabled="isStatusDisabled(status)">{{status}}<option>
					</select>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" ng-click='cancel()'>Cancel</button>
			<!-- <?php if (AdminController::authorized('write')) : ?> -->
			<button type='submit' class="btn btn-primary">Save changes</button>
			<!-- <?php endif; ?> -->
		</div>
	</form>
</div>