<form ng-submit='filterList()' class='form-inline'>
	<div ng-repeat='filterField in collection.filter_fields_order'>
		<div ng-repeat='(fieldName, field) in filterField' class="row">
			<div class="col-md-2">
				<label class='control-label'>{{collection.filter_fields[fieldName].display}}</label>
			</div>
			<div class='col-md-6'>
				<input-field model='session' field="fieldName" type='collection.filter_fields[fieldName].input_type' fields='filter_fields'></input-field>
			</div>
		</div>
	</div>
	<div class="toolbar-buttons">
		<span>
			<button class="btn btn-success" type="submit">Submit</button>
		</span>
		<span class="pull-right">
			<ng-include src="'views/partials/list_buttons.html'"></ng-include>
		</span>
	</div>
</form>