<ul class="pagination pagination-right">
	<li ng-class='{disabled: pager.current === 1}'>
		<a ng-click='firstPage()' class='clickable'>First</a>
	</li>
	<li ng-class='{disabled: pager.current === 1}'>
		<a ng-click='prevPage()' class='clickable'>Prev</a>
	</li>
	<li ng-repeat='i in maxPages() track by $index' ng-class='{disabled: i === pager.current, active: i === pager.current}'>
		<a ng-click='page(i)' class='clickable'>{{i}}</a>
	</li>
	<li ng-class='{disabled: pager.current === pager.count}'>
		<a ng-click='nextPage()' class='clickable'>Next</a>
	</li>
	<li ng-class='{disabled: pager.current === pager.count}'>
		<a ng-click='lastPage()' class='clickable'>Last</a>
	</li>
</ul>

<div id="listSize" class="btn-group">
	<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">{{pager.size}}<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li ng-repeat='size in availableListSizes track by $index'>
			<a ng-click='setListSize(size)' class='clickable'>{{size}}</a>
		</li>
	</ul>
</div>