<span ng-if='active === "cards"'><a ng-click='editBatch()' data-type='edit-batch' class='btn btn-primary' role='button'>Edit Batch</a></span>
<span ng-if='contains(["rates", "plans", "users", "subscribers"], active) && authorized_write'>
	<span ng-if='active === "subscribers"'><a data-type='new' href='/admin#/subscribers/new' class='btn btn-primary' role='button'>New</a></span>
	<span ng-if='active !== "users"'><a ng-click='goto("close_and_new")' class="btn btn-primary" role="button">Close & new</a></span>
	<span ng-if='active === "users"'><a ng-click='goto("new")' class="btn btn-warning" role="button">New</a></span>
	<span><a ng-click='goto("duplicate")' class="btn btn-info" role="button">Duplicate</a></span>
</span>

<span ng-if='!contains(["events", "log", "balances"], active) && authorized_write'>
	<a data-type="remove" href="#confirmModal" class="btn btn-danger" data-toggle="modal" role="button"><i class="icon-remove"> </i>Remove</a>
</span>

<span ng-if='contains(["lines", "balances"], active)'>
	<a ng-click='exportCSV(active)' class="btn export-button">
		<i class="icon-download-alt"> </i>Export to CSV
	</a>
</span>
<span ng-if='contains(["lines", "balances"], active) && authorized_write'>
	<a ng-click='upload()' class="btn btn-primary" role="button">
		<i class="icon-upload"> </i>Import
	</a>
</span>

<span ng-if='active === "rates" && authorized_write'><a ng-click='importPrices()' class="btn btn-primary" role="button"><i class="icon-upload"> </i>Import</a></span>
<span ng-if='active === "rates"'><a ng-click='exportRates()' class="btn export-button"><i class="icon-download"> </i>Export to CSV</a></span>
