<style>
	.clickable {
		cursor: pointer;
	}
</style>
<table class="table table-striped table-bordered table-no-more-tables">
	<thead>
		<th>#</th>
		<th ng-repeat="header in collection.columns">{{header}}</th>
	</thead>
	<tbody>
		<tr ng-if="!collection.data.length">
			<td colspan="{{collection.columns.length}}">No items found</td>
		</tr>
		<tr ng-repeat="item in collection.data track by $index" ng-if="collection.data.length">
			<td>
				<b><a ng-click='editItem(collection.collection, item["_id"])' class='clickable'>#{{$index+1}}</a></b>
			</td>
			<td ng-repeat="(k, colName) in collection.columns">
				<span ng-if="datetimeCol(k)">
					{{printDate(item[k])}}
				</span>
				<span ng-if="!datetimeCol(k)">{{item[k]}}</span>
			</td>
		</tr>
	</tbody>
</table>